<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>Your Weather Can be Searched Here!</p>
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="p-1"></p>
        <p id="p-2"></p>
        <p id="p-3"></p>

    </div>

    {{>footer}}
      <script src="/js/js1.js"></script>
</body>

</html>